<%= form_for @park do |f| %>

  <% if @park.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@park.errors.count, "error") %>
            kept this Disney park from being saved:
      </h2>
      <ul>
        <% @park.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :park_name %><br>
    <%= f.text_field :park_name %>
  </p>

  <p>
    <%= f.label :park_description %><br>
    <%= f.text_area :park_description %>
  </p>

  <p>
    <%= f.submit %>
  </P>

<% end %>
