<h1>Welcome to Disney Destinations!</h1>
<%= link_to 'Characters', controller: 'characters' %>
<br>
<%= link_to 'Hotels', controller: 'hotels' %>
<br>
<%= link_to 'Parks', controller: 'parks' %>
<br>
<%= link_to 'Restaurants', controller: 'restaurants' %>
<br>
<%= link_to 'Rides', controller: 'rides' %>
