<h1>List of Front Pages</h1>

<table>
  <tr>
    <th>Front Page Name</th>
    <th>Front Page Description</th>
  </tr>

  <% @front_pages.each do |front_page| %>
    <tr>
      <td><%= front_page.frontpage_name %></td>
      <td><%= front_page.frontpage_description %></td>
      <td><%= link_to 'View', front_page_path(front_page) %></td>
      <td><%= link_to 'Edit', edit_front_page_path(front_page) %></td>
      <td><%= link_to 'Delete', front_page_path(front_page),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create Front Page', new_front_page_path %>
<br>
<%= link_to 'Back', root_path %>
